{:paths ["resources" "src"]
 :deps  {org.clojure/clojure {:mvn/version "RELEASE"}
         ;; client
         rum                 {:mvn/version "0.11.2"}
         cljsjs/react        {:mvn/version "16.2.0-3"}
         }
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}}}
  :dev
  {:extra-paths ["dev"]
   :extra-deps  {org.clojure/tools.nrepl     {:mvn/version "0.2.12"}
                 org.clojure/tools.namespace {:mvn/version "0.2.11"}
                 cider/cider-nrepl           {:mvn/version "0.16.0"}
                 thheller/shadow-cljs        {:mvn/version "2.1.25"}
                 refactor-nrepl              {:mvn/version "2.3.1"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "test"]}}}
