;; shadow-cljs configuration
{:deps         true
 :source-paths ["src"]
 :builds       {:dev {:output-dir "resoruces/public/js"
                      :asset-path "public/js"
                      :target     :browser
                      :modules    {:main {:entries [ether.littleschemer.client]}}
                      :devtools   {:http-root  "resources/public"
                                   :http-port  8080
                                   :after-load ether.littleschemer.client/reload!
                                   :watch-dir  "resources/public"}}

                :app {:output-dir "target/"
                      :asset-path "."
                      :target     :browser
                      :modules    {:main {:entries [ether.littleschemer.client]}}}}}
